.drawer {
  height: 100%;
  min-width: 100%;
  z-index: 10000;
}

@media (min-width: 62em) {
  .drawer {
    min-width: 40%;
  }
}

.animatedCard {
  transform: scale(0.9);
  opacity: 0;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

.animatedCard.visible {
  transform: scale(1);
  opacity: 1;
}
