.container {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.stickyAside {
  position: sticky;
  width: 30vw;
  top: 0px;

  @media (max-width: 768px) {
    display: none;
  }
}
